{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-web/css/all.css' %}">
    <!-- Add Card -->
    <link rel="stylesheet" href="{% static 'css/card-deck.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block optcss %}{% endblock %}
    <title>Summarizer | {% block title %}{% endblock %}</title>
</head>

<body>

    <div class="container mt-3">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #243665;">
            {% block uploadarticle %}
            {% endblock %}
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'inference_engine:index' %}"><span class="menu-bg-color">Summarizer</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'inference_engine:dataset-list' %}"><span class="menu-bg-color">Training</span></a>
                </li>
                {% block selectrules %}
                {% endblock %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block optjs %}
    {% endblock %}
</body>

</html>