/* TABLE FANCY */

table {
    background: #243665;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
}
th {
    border-bottom: 1px solid #364043;
    color: #CCF381;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}
td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}
.disabled td {
    color: #4F5F64;
}
tbody tr {
    transition: background 0.25s ease;
}
tbody tr:hover {
    background: #014055;
}

.page-item.active .page-link {
    background-color: #243665;
    border-color: #243665;
}

.page-link {
    color: #243665;
}