/* Nav upload */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn {
    border: 2px solid;
    /* color: gray; */
    color: #CCF381;
    /* background-color: white; */
    padding: 5px 17px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* End Nav upload */

.page-item.active .page-link {
    background-color: #243665;
    border-color: #243665;
}

.page-link {
    color: #243665;
}