body {
    font-family: 'Grenze', serif;
    font-size: 20px;
}

nav {
    border-radius: 25px;
}

.menu-bg-color {
    color: #CCF381;
    /* color: #8BD8BD; */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Underline */
/*------------------------------------*/
/*------ Basic Underline Styles ------*/
/*------------------------------------*/

.normal-underline,
.custom-underline {
    position: relative;
    display: inline-block;
    /* font-size: 24px; */
    font-weight: 500;
    text-align: center;
}

.normal-underline,
.normal-underline:hover {
    color: #444;
    text-decoration: underline;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
    /* color: #fff; */
    text-decoration: none;
}

.custom-underline::after {
    content: "";
    position: absolute;
}


/*--- Green Box (box-c) ---*/
.box-b .custom-underline::after {
    top: 100%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: #243665;
    transition: 0.4s ease-out all .1s;
}

.box-b:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
}
.box-a .custom-underline::after {
    top: 100%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: #243665;
    transition: 0.4s ease-out all .1s;
}

.box-a:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
}

.article-content {
    color: #243665;
    font-family: 'Oleo Script', cursive;
    text-indent: 30px;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px; margin: 0 0 8px; text-shadow: 1px 0 0 #fff;
    text-align: justify;
}

/* Line */
.outer {
    width: 5px;
    height: 90%;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.inner {
    position: absolute;
    width:100%;
    height: 60%;
    background: #243665;
    top: 30%;
    box-shadow: 0px 0px 30px 20px #CCF381;
}

.article-content::first-letter {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}


@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
/* body {
  background-color: #222;
} */

.plate {
    width: 410px;
  /* margin: 10% auto; */
}

.script {
    font-family: "Seaweed Script";
    color: #243665;
    text-align: center;
    font-size: 30px;
    position: relative;
    margin:0;
}

.script span {
  /* background-color: #222; */
    background-color: #fff;
    padding: 0 0.3em;
}

.script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #243665;
}

/* Fancy File Upload */

.input-file-container {
    position: relative;
    width: 40%;
}
.input-file-container-2 {
    position: relative;
    width: 60%;
    height: auto;
}
.js .input-file-trigger {
    display: block;
    padding: 20px 30px;
    background: #243665;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 12px 0;
    cursor: pointer;
}
.js-2 .input-file-trigger-2 {
    display: block;
    padding: 35px 30px;
    background: #243665;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js-2 .input-file-2 {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 12px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #CCF381;
}

.js-2 .input-file-2:hover + .input-file-trigger-2,
.js-2 .input-file-2:focus + .input-file-trigger-2,
.js-2 .input-file-trigger-2:hover,
.js-2 .input-file-trigger-2:focus {
    background: #34495E;
    color: #CCF381;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}
.file-return-2 {
    margin: 0;
}
.file-return-2:not(:empty) {
    margin: 1em 0;
}
.js-2 .file-return-2 {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js-2 .file-return-2:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

.result-highlight {
    border-style: solid;
    border-width: 4px;
    padding: 5px 10px;
    border-color: #243665;
}

#action-step-card {
    display: flex;
}