{% extends 'inference-base.html' %}
{% load static %}
{% block optcss %}
<link rel="stylesheet" href="{% static 'css/event_list.css' %}">
{% endblock %}
{% block title %}Dataset Process{% endblock %}
{% block content %}
<div id="action-step-card" class="row mt-3 ml-5 mr-5 d-flex justify-content-center">
    <div class="col-md-12">
        <ul class="event-list ml-5 mr-5">
            {% if dataset_res %}
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">01</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-3">Create Sentence Label Pair</h2>
                        <p class="desc">Provid sentence and label pairing with the manual extractive summarization</p>
                        {% if dataset_res.is_originaldatasetpair %}
                            <a href="{% url 'inference_engine:display-training-dataset' dataset_res.id %}" class="btn btn-outline-success ml-2 mt-1" target="_blank">Display The Result</a>
                        {% else %}
                            <form action="{% url 'inference_engine:sentence-label' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                            </form>
                        {% endif %}
                    </div>
                </li>
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">02</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-3">Sentence Munging</h2>
                        <p class="desc">Remove Punctuations, Case Folding, Remove Stopword, Lemmatization</p>
                        {% if not dataset_res.is_originaldatasetpair %}
                            <button class="btn btn-outline-dark mt-2 ml-2" disabled>Execute By Order</button>
                        {% else %}
                            {% if dataset_res.is_preprocessing %}
                                <a href="{% url 'inference_engine:display-sentence-munging' dataset_res.id %}" class="btn btn-outline-success ml-2 mt-1" target="_blank">Display The Result</a>
                            {% else %}
                                <form action="{% url 'inference_engine:sentence-munging' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                    <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">03</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-1">Sentence Scoring</h2>
                        <p class="desc">Word Frequency, Title Similarity, Sentence Position, Sentence Length, Numerical Token, TF-ISF, Cosine Similarity, Bi-Gram, Tri-Gram</p>
                        {% if not dataset_res.is_preprocessing %}
                            <button class="btn btn-outline-dark mt-2 ml-2" disabled>Execute By Order</button>
                        {% else %}
                            {% if dataset_res.is_sentencescoring %}
                                <a href="{% url 'inference_engine:display-sentence-scoring' dataset_res.id %}" class="btn btn-outline-success ml-2 mt-1" target="_blank">Display The Result</a>
                            {% else %}
                                <form action="{% url 'inference_engine:sentence-scoring' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                    <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">04</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-3">Feature Scaling</h2>
                        <p class="desc">Handling Missing Values, Remove Outliers, MinMaxScaler</p>
                        {% if not dataset_res.is_sentencescoring %}
                            <button class="btn btn-outline-dark mt-2 ml-2" disabled>Execute By Order</button>
                        {% else %}
                            {% if dataset_res.is_scale_sentencescoring %}
                                <a href="{% url 'inference_engine:display-feature-scaling' dataset_res.id %}" class="btn btn-outline-success ml-2 mt-1" target="_blank">Display The Result</a>
                            {% else %}
                                <form action="{% url 'inference_engine:feature-scaling' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                    <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">05</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-3">Bootstrap Aggregating</h2>
                        <p class="desc">Preparing 100 Bags and 100 Out-Of-Bags(OOB) Training Dataset</p>
                        {% if not dataset_res.is_scale_sentencescoring %}
                            <button class="btn btn-outline-dark mt-2 ml-2" disabled>Execute By Order</button>
                        {% else %}
                            {% if dataset_res.is_bagging %}
                                <button class="btn btn-outline-dark mt-2 ml-2" disabled>Done Processing</button>
                            {% else %}
                                <form action="{% url 'inference_engine:proceed-bagging' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                    <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">06</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-3">Random Forest</h2>
                        <p class="desc">Train 100 Bags Training Dataset Using C4.5 Classifier</p>
                        {% if not dataset_res.is_bagging %}
                            <button class="btn btn-outline-dark mt-2 ml-2" disabled>Execute By Order</button>
                        {% else %}
                            {% if dataset_res.is_randomforest %}
                                <button class="btn btn-outline-dark mt-2 ml-2" disabled>Done Processing</button>
                            {% else %}
                                <form action="{% url 'inference_engine:random-forest' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                    <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="mb-4">
                    <time>
                        <span class="day mt-3">07</span>
                        <span class="month">Step</span>
                    </time>
                    <div class="info">
                        <h2 class="title mt-3">Evaluate OOB</h2>
                        <p class="desc">Look for accuracy from Out-Of-Bags Dataset</p>
                        {% if not dataset_res.is_randomforest %}
                            <button class="btn btn-outline-dark mt-2 ml-2" disabled>Execute By Order</button>
                        {% else %}
                            {% if dataset_res.is_evaluate_oob %}
                                <p class="mt-1 ml-2">
                                    Accuracy of OOB evaluation : <strong>{{ accuracy_oob }}</strong>
                                </p>
                            {% else %}
                                <form action="{% url 'inference_engine:evaluate-oob' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="dataset_id" value="{{ dataset_res.id }}">
                                    <button class="btn btn-outline-primary ml-2 mt-1">Execute The Process</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <p>Dataset did not exist</p>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}