{% extends 'inference-base.html' %}
{% load static %}
{% block optcss %}
<link rel="stylesheet" href="{% static 'css/dataset_list.css' %}">
{% endblock %}
{% block title %}Dataset List{% endblock %}
{% block selectrules %}
    {% if rules %}
    <div class="btn-group ml-3">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Select Rules Implementation.
        </button>
        <div class="dropdown-menu">
            {% for rule in rules %}
                {% if rule.rules_path %}
                    <a href="{% url 'inference_engine:update-rule' rule.type_dataset.id %}" class="dropdown-item">{{ rule.type_dataset.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
<div class="row mt-2">

    <div class="col-md-4 text-center">

        <h1>This Research Use INDOSUM Dataset</h1>
        <h4>A benchmark dataset for Indonesian text summarization</h4>

        <form action="{% url 'inference_engine:dataset-list' %}" method="POST" enctype="multipart/form-data" class="d-flex justify-content-center">
            {% csrf_token %}
            <div class="input-file-container">
                <input class="input-file" name="rawdataset" id="my-file" type="file">
                <label tabindex="0" for="my-file" class="input-file-trigger">Select New Dataset</label>
            </div>
            <div class="input-file-container">
                <input class="input-file-2" id="my-file" type="submit">
                <label tabindex="0" for="my-file" class="input-file-trigger-2">Upload Dataset</label>
            </div>
            <p class="file-return"></p>
        </form>

        <p class="txtcenter">Dataset Resources On <a href="https://github.com/kata-ai/indosum" target="_blank"><i class="fab fa-github fa-1x" aria-hidden="true"></i></a> Github
            <br>
            Access Research Paper Related to Indosum <a href="https://arxiv.org/abs/1810.05334" target="_blank"><i class="fa fa-university fa-1x" aria-hidden="true"></i></a>
        </p>
    </div>

    <div class="col-md-8">
        <h1 class="text-center">Available Training Dataset</h1>
        <ul class="tilesWrap">
            {% if dataset_sources %}
                {% for dataset_source in dataset_sources %}
                    <li>
                        <h2>{{ forloop.counter }}</h2>
                        <h3>{{ forloop.counter }} - Dataset</h3>
                        <p>
                            {{ dataset_source.title }} Dataset that contain {{ dataset_source.total_articles }} articles
                        </p>
                        <form method="POST" action="{% url 'inference_engine:dataset-process' %}">
                            {% csrf_token %}
                            <input type="hidden" name="dataset_id" value="{{ dataset_source.id }}">
                            <button>More Details</button>
                        </form>
                    </li>
                {% endfor %}
            {% else %}
            <p>No Dataset Exist</p>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}

{% block optjs %}
<script>
    document.querySelector("html").classList.add('js');
    var fileInput  = document.querySelector( ".input-file" ),
        button     = document.querySelector( ".input-file-trigger" ),
        the_return = document.querySelector(".file-return");
    document.querySelector("html").classList.add('js-2');
    var fileInput  = document.querySelector( ".input-file-2" ),
        button     = document.querySelector( ".input-file-trigger-2" ),
        the_return = document.querySelector(".file-return-2");
</script>
{% endblock %}