{% extends 'inference-base.html' %}
{% load static %}
{% block title %}Training Data{% endblock %}
{% block optcss %}
<link rel="stylesheet" href="{% static 'css/fancy_table.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <table class="table mt-1">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th class="text-center">Word Frequency</th>
                <th class="text-center">Title Similarity</th>
                <th class="text-center">Sentence Position</th>
                <th class="text-center">Sentence Length</th>
                <th class="text-center">Sentence Centrality</th>
                <th class="text-center">TF-ISF</th>
                <th class="text-center">Cosine Similarity</th>
                <th class="text-center">Bigram</th>
                <th class="text-center">Trigram</th>
                <th class="text-center">Label</th>
        </thead>
        <tbody>
            {% if compact_scores %}
                {% for sentence, f1, f2, f3, f4, f5, f6, f7, f8, f9, label in compact_scores %}
                    <tr>
                        <td>{{ compact_scores.start_index|add:forloop.counter0 }}</td>
                        <td>{{ f1 }}</td>
                        <td>{{ f2 }}</td>
                        <td>{{ f3 }}</td>
                        <td>{{ f4 }}</td>
                        <td>{{ f5 }}</td>
                        <td>{{ f6 }}</td>
                        <td>{{ f7 }}</td>
                        <td>{{ f8 }}</td>
                        <td>{{ f9 }}</td>
                        <td>{{ label }}</td>
                {% endfor %}
            {% else %}
                <tr>
                    <th scope="row">~</th>
                    <td colspan="7">Failed To Display</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 ml-4">
            {% if compact_scores.has_other_pages %}
                <ul class="pagination">
                    <!-- Link To Go Back to Previous Page -->
                    {% if compact_scores.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ compact_scores.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disable">
                            <a class="page-link">&laquo;</a>
                        </li>
                    {% endif %}
                    {% if last_page > 20 %}
                        <!-- Loop Through Page Range -->
                        {% for i in compact_scores.paginator.page_range %}
                            {% if compact_scores.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% elif i <= compact_scores.number|add:9 and i >= compact_scores.number|add:-8 %}
                                {% if i != last_page %}
                                    <li class="page-item">
                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- Link To Go Back to Previous Page -->
                        {% if compact_scores.has_next %}
                            <li class="page-item disable">
                                <a class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{last_page}}" class="page-link">{{last_page}}</a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{compact_scores.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a href="" class="page-link disable">&raquo;</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <!-- Loop Through Page Range -->
                        {% for i in compact_scores.paginator.page_range %}
                            {% if compact_scores.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% elif i <= compact_scores.number|add:10 and i >= compact_scores.number|add:-10 %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!-- Link To Go Back to Previous Page -->
                        {% if compact_scores.has_next %}
                            <li class="page-item">
                                <a href="?page={{compact_scores.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a href="" class="page-link disable">&raquo;</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <!-- End Pagination -->
</div>
{% endblock %}