{% extends 'inference-base.html' %}
{% load static %}
{% block optcss %}
<link rel="stylesheet" href="{% static 'css/index_inference.css' %}">
{% endblock %}
{% block title %}Inference Engine{% endblock %}
{% block uploadarticle %}
<!-- Upload Article Navigation -->
<form action="{% url 'inference_engine:upload-test-dataset' %}" method="post" enctype="multipart/form-data" class="mt-2">
    {% csrf_token %}
    <div class="upload-btn-wrapper ml-2">
        <button class="btn">Select Dataset For Testing</button>
        <input type="file" name="testdataset"/>
        <!-- <button class="btn ml-2 mr-2">Upload Dataset</button> -->
    </div>
    <div class="upload-btn-wrapper ml-2">
        <button class="btn">Upload Dataset</button>
    </div>
</form>
<div class="btn-group ml-3">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Available Dataset
    </button>
    <div class="dropdown-menu">
        {% if available_datasets %}
            {% for available_dataset in available_datasets %}
                <a class="dropdown-item" href="{% url 'inference_engine:index' available_dataset.id %}">{{ available_dataset.title }}</a>
            {% endfor %}
        {% else %}
            <a class="dropdown-item" href="#">Empty Dataset</a>
        {% endif %}
    </div>
</div>
{% if dataset_res %}
    {% if not is_evaluate %}
        <div class="upload-btn-wrapper ml-2">
            <a href="{% url 'inference_engine:evaluate-dataset' dataset_res.id %}" class="btn">Summary Evaluation</a>
        </div>
    {% else %}
    <div class="upload-btn-wrapper ml-2">
        <a href="{% url 'inference_engine:testing-statistics' dataset_res.id %}" class="btn" target="_blank">Statistics</a>
    </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}

    <!-- Card -->
    <div class="social-box">
        <div class="container">
            <div class="row">
                {% if dataset_empty %}
                    <div class="col-lg-4 col-xs-12 text-center">
                        <div class="box">
                            <i class="far fa-newspaper fa-3x" aria-hidden="true"></i>
                            <div class="box-title">
                                <h3>Empty Dataset</h3>
                            </div>
                            <div class="box-text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                                    ocurreret qui ad.</span>
                            </div>
                            <div class="box-btn">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if compact_articles %}
                        {% for id, category, title, content, source, source_url, summary in compact_articles %}
                            <div class="col-lg-4 col-xs-12 text-center">
                                <div class="box">
                                    <i class="far fa-newspaper fa-3x" aria-hidden="true"></i>
                                    <div class="box-title">
                                        <h3> <a href="{{ source_url }}" target="_blank">{{ source }}</a> </h3>
                                    </div>
                                    <div class="box-text">
                                        <span>{{ title }}</span>
                                    </div>
                                    <div class="box-btn">
                                        <a href="{% url 'inference_engine:summarize-article' id %}" target="_blank">Article Sumarizer</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End Card -->

    <!-- Pagination -->
    {% if not dataset_empty %}
        <div class="row">
            <div class="col-md-12 ml-3">
                {% if compact_articles.has_other_pages %}
                    <ul class="pagination">
                        <!-- Link To Go Back to Previous Page -->
                        {% if compact_articles.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ compact_articles.previous_page_number }}" class="page-link">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disable">
                                <a class="page-link">&laquo;</a>
                            </li>
                        {% endif %}
                        {% if last_page > 10 %}
                            <!-- Loop Through Page Range -->
                            {% for i in compact_articles.paginator.page_range %}
                                {% if compact_articles.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ i }}</a>
                                    </li>
                                {% elif i <= compact_articles.number|add:9 and i >= compact_articles.number|add:-8 %}
                                    {% if i != last_page %}
                                        <li class="page-item">
                                            <a href="?page={{i}}" class="page-link">{{i}}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <!-- Link To Go Back to Previous Page -->
                            {% if compact_articles.has_next %}
                                <li class="page-item disable">
                                    <a class="page-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{last_page}}" class="page-link">{{last_page}}</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{compact_articles.next_page_number}}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a href="" class="page-link disable">&raquo;</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <!-- Loop Through Page Range -->
                            {% for i in compact_articles.paginator.page_range %}
                                {% if compact_articles.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ i }}</a>
                                    </li>
                                {% elif i <= compact_articles.number|add:20 and i >= compact_articles.number|add:-20 %}
                                    <li class="page-item">
                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <!-- Link To Go Back to Previous Page -->
                            {% if compact_articles.has_next %}
                                <li class="page-item">
                                    <a href="?page={{compact_articles.next_page_number}}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a href="" class="page-link disable">&raquo;</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- End Pagination -->

{% endblock %}