{% extends 'inference-base.html' %}
{% load static %}
{% block title %}Article Summarizer{% endblock %}
{% block content %}

{% if content %}

    <div class="row mt-3 m-0 p-0">
        <div class="col-md-6 text-center">
            <div class="box-a">
                <a href="{{ source_url }}" target="_blank" class="custom-underline">Read Original Article</a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="box-b mr-0 pr-0">
                {% if not is_summarize %}
                    <a href="{% url 'inference_engine:evaluate-article' dataset_id %}" class="custom-underline">Generate Summary</a>
                {% endif %}
                {% if summary_evaluation %}
                    <span class="result-highlight">
                        Recall : {{ recall }},
                        Precision : {{ precision }},
                        F-Measure : {{ f_measure }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-4 ml-2">
        <div class="col-md-7 pl-0">
            <p class="article-content">
                {{ content }}
            </p>
        </div>
        <div class="col-md-4 m-0">
            <div class="plate">
                <p class="script"><span>Reference Summary</span></p>
                <p class="article-content">
                    {{ reference_summary }}
                </p>
                <p class="script"><span>System Summary</span></p>
                {% if is_summarize %}
                    <p class="article-content">
                        {{ system_summary }}
                    </p>
                {% else %}
                    <p class="article-content">Not yet Summarized</p>
                {% endif %}
            </div>
        </div>
    </div>

{% else %}

    <div class="row mt-3 m-0 p-0">
        <div class="col-md-4 text-center">
            <div class="box-a">
                <a href="#" class="custom-underline">Read Original Article</a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="box-b">
                <a href="#" class="custom-underline">Proceed Sentence Scoring</a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="box-b mr-0 pr-0">
                <a href="#" class="custom-underline">Generate Summary</a>
            </div>
        </div>
    </div>

    <div class="row mt-4 ml-2">
        <div class="col-md-7 pl-0">
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi id impedit incidunt nemo temporibus illo reprehenderit, accusantium tenetur, a minima molestias nostrum ratione. Quos laboriosam quibusdam omnis non voluptatibus aperiam!</p>
            <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum placeat vel minus amet provident saepe nihil nostrum, odio perspiciatis molestias quaerat quisquam quasi consequuntur sunt soluta mollitia! Impedit, soluta eveniet.</p>
            <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse molestiae reiciendis id perspiciatis harum modi impedit debitis ullam enim asperiores obcaecati fugit beatae nobis minima aliquid eaque, et excepturi? Nam!</p>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ullam animi impedit minus molestias doloribus nobis unde, pariatur iusto aliquid adipisci, nemo qui cupiditate quae provident eum voluptates iure harum?</p>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, molestias dolorem. Sunt, numquam! Maxime, veritatis ut aut a, ratione voluptatem dolorum placeat exercitationem quisquam ipsum modi, quo perspiciatis illum est?</p>
        </div>
        <div class="col-md-4 m-0">
            <div class="plate">
                <p class="script"><span>Reference Summary</span></p>
                <p class="article-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, molestias dolorem. Sunt, numquam! Maxime, veritatis ut aut a, ratione voluptatem dolorum placeat exercitationem quisquam ipsum modi, quo perspiciatis illum est?</p>
                <p class="script"><span>System Summary</span></p>
                <p class="article-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, molestias dolorem. Sunt, numquam! Maxime, veritatis ut aut a, ratione voluptatem dolorum placeat exercitationem quisquam ipsum modi, quo perspiciatis illum est?</p>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}