{% extends 'inference-base.html' %}
{% load static %}
{% block title %}Dataset Testing Statistics{% endblock %}
{% block optcss %}
<link rel="stylesheet" href="{% static 'css/fancy_table.css' %}">
{% endblock %}
{% block content %}

<div class="row">
    <table class="table mt-1">
        <thead>
            <tr>
                <th class="text-center">Avarage Recall</th>
                <th class="text-center">Avarage Precision</th>
                <th class="text-center">Avarage F-Measure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{ recall }}</td>
                <td class="text-center">{{ precision }}</td>
                <td class="text-center">{{ f_measure }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table mt-n3">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th class="text-center">Title</th>
                <th class="text-center">Recall</th>
                <th class="text-center">Precision</th>
                <th class="text-center">F-measure</th>
            </tr>
        </thead>
        <tbody>
            {% if compact_scores %}
                {% for id, title, recall, precision, f_measure in compact_scores %}
                    <tr>
                        <td>{{ compact_scores.start_index|add:forloop.counter0 }}</td>
                        <td><a href="{% url 'inference_engine:summarize-article' id %}">{{ title }}</a></td>
                        <td class="text-center">{{ recall }}</td>
                        <td class="text-center">{{ precision }}</td>
                        <td class="text-center">{{ f_measure }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th scope="row">~</th>
                    <td colspan="7">Failed To Display</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 ml-4">
            {% if compact_scores.has_other_pages %}
                <ul class="pagination">
                    <!-- Link To Go Back to Previous Page -->
                    {% if compact_scores.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ compact_scores.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disable">
                            <a class="page-link">&laquo;</a>
                        </li>
                    {% endif %}
                    {% if last_page > 20 %}
                        <!-- Loop Through Page Range -->
                        {% for i in compact_scores.paginator.page_range %}
                            {% if compact_scores.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% elif i <= compact_scores.number|add:9 and i >= compact_scores.number|add:-8 %}
                                {% if i != last_page %}
                                    <li class="page-item">
                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- Link To Go Back to Previous Page -->
                        {% if compact_scores.has_next %}
                            <li class="page-item disable">
                                <a class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{last_page}}" class="page-link">{{last_page}}</a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{compact_scores.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a href="" class="page-link disable">&raquo;</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <!-- Loop Through Page Range -->
                        {% for i in compact_scores.paginator.page_range %}
                            {% if compact_scores.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% elif i <= compact_scores.number|add:10 and i >= compact_scores.number|add:-10 %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!-- Link To Go Back to Previous Page -->
                        {% if compact_scores.has_next %}
                            <li class="page-item">
                                <a href="?page={{compact_scores.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a href="" class="page-link disable">&raquo;</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <!-- End Pagination -->
</div>
{% endblock %}